<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emptyactivityexample">
    <!-- this on top -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmptyActivityExample">
        <activity
            android:name=".Features.AudioPlayerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Preferences.ActivityPref"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Preferences.PreferenceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotificationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Features.DragActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_orientation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Fragments.Activity_fragments"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_states"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GridView.Activity_gridview"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Intents.IntentGetActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>

                <!-- IMPLICIT INTENTS -->
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />

                <!-- REFER THIS ACTIVITY AS COMPONENT IN ANOTHER APP -->
                <!-- <action android:name="android.intent.action.VIEW" /> -->
                <!-- <action android:name="com.example.emptyactivityexample.Intents.IntentGetActivity" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormViews.FormFieldsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Intents.IntentUsageActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Widget.ExampleAppWidgetProvider"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity
            android:name=".Widget.ExampleAppWidgetConfig"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity> <!-- MUSIC -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>